<div id="header">
  <h1>strftimer</h1>
</div>

<div>
  <form method="POST" action="/result">
   <fieldset>
    <input class="input-box" name="date_input" type="text" autocomplete='off' placeholder='Date Format. e.g. Oct 14 1992'>
    <span class="help-block">Input you Date Format and Press Submit.</span>
    <button type="submit" class="btn btn-info">Submit</button>
   </fieldset>
  </form>
</div>
