<div id="header">
  <h1>strftimer</h1>
</div>

<div>
  <form>
   <fieldset>
    <input class="input-box" type="text" placeholder="something">
    <span class="help-block">Example block-level help text here.</span>
    <button type="submit" class="btn">Submit</button>
   </fieldset>
  </form>
</div>
