<div id="header">
  <h1>strftimer</h1>
</div>

<div>
  <form action="/thanks" method="post">
   <fieldset>
    <input class="input-box" type="text" autocomplete='off' placeholder='Date Format. e.g. Oct 14 1992'>
    <span class="help-block">Example block-level help text here.</span>
    <button type="submit" class="btn btn-info">Submit</button>
   </fieldset>
  </form>
</div>
