@font-face {
  font-family: 'American-Typewriter';
  src: url("../fonts/Bellerose.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/*.hero-unit {
  background-image:url('../img/bang.jpg');
  background-repeat:repeat-x;
  color: white;
}*/

body {
  background: url("../img/noise_lines.png") repeat;
  background-image: url(../img/noise_lines.png);
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: repeat;
  background-repeat-y: repeat;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  padding: 50px 0 15px;
  font-family: 'American-Typewriter';
  text-align: center;
}

h1 {
  font-weight: normal;
  text-align: center;
  font-size: 100px;
  font-family: 'American-Typewriter';
  margin-bottom: 60px;
}

input[type="text"] {
  line-height: 2;
  font-family: 'American-Typewriter';
  font-size: 25px;
  outline: none;
  width: 400px;
  border: 0;
  padding: 24px;
  margin: 0 auto;
  text-align: center;
}

.help-block {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
}


#header {
  margin: 0 auto;
}

#input-box {
  text-align: center;
}

.result {
  margin: 0 auto;
}
